<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lunchbox</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {{ CSS.render('css/app.min.css') }}
    {% block extra_css %}{% endblock extra_css %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="{{ id|lower }}">
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    <header>
        <div class="nav-links">
            <a href="../quotable/index.html" {% if name == 'Quotable' %} class="active" {% endif %}>Quotable</a>
            <a href="../factlist/index.html" {% if name == 'Factlist' %} class="active" {% endif %}>Factlist</a>
            <a href="../waterbug/index.html" {% if name == 'Waterbug' %} class="active" {% endif %}>Waterbug</a>
        </div>

        <a href="../index.html" class="home-link">
            <h1>Lunchbox</h1>
        </a>
        <select>
			<option value="null">The McClatchy Company</option>
			<option value="bfg">Beaufort Gazette</option>
			<option value="tbh">Bellingham Herald</option>
			<option value="bel">Belleville News Democrat</option>
			<option value="bra">Bradenton Herald</option>
			<option value="cdt">Centre Daily Times</option>
			<option value="clt">Charlotte Oberserv</option>
			<option value="eln">El Nuevo Herald</option>
			<option value="frs">Fresno Bee</option>
			<option value="ida">Idaho Statesmen</option>
			<option value="hhd">Island Packet</option>
			<option value="wic">Wichita Eagle</option>
			<option value="ksc">Kansas City Star</option>
			<option value="ken">Lexington Herald-Leader</option>
			<option value="led">Columbus Ledger-Enquirer</option>
			<option value="mac">Macon Telegraph</option>
			<option value="mcd">McClatchy Washington Bureau</option>
			<option value="mer">Merced Sun-Star</option>
			<option value="mia">Miami Herald</option>
			<option value="mod">Modesto Bee</option>
			<option value="mbo">Myrtle Beach Sun News</option>
			<option value="rhh">Rock Hill Herald</option>
			<option value="nao">Raleigh News &amp; Observer</option>
			<option value="sac">Sacramento Bee</option>
			<option value="slo">San Luis Obispo Tribune</option>
			<option value="dfw">Fort Worth Star-Telegram</option>
			<option value="sun">Biloxi Sun Herald</option>
			<option value="tnt">Tacoma News Tribune</option>
			<option value="oly">Olympia Olympian</option>
			<option value="sta">Columbia State</option>
			<option value="tch">Tri-City Herald</option>
        </select>
    </header>
    {% endblock header_content %}

    <section id="content">
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>

    {% endblock outer_content %}

    {% block jquery %}
    {% endblock jquery %}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot_js %}{% endblock extra_foot_js %}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
